XML_input/inputnew.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="parameters">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="algorithm_option" type="xs:string" />
                <xs:element name="write_frequency" type="xs:unsignedByte" />
                <xs:element name="output_file_name" type="xs:string" />
                <xs:element name="simulation_parameters">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="name">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="x" type="xs:unsignedByte" />
                                        <xs:element minOccurs="0" name="y" type="xs:unsignedByte" />
                                        <xs:element minOccurs="0" name="z" type="xs:unsignedByte" />
                                        <xs:element minOccurs="0" name="value" type="xs:decimal" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="boundaries">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="value">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="b1" type="xs:string" />
                                        <xs:element name="b2" type="xs:string" />
                                        <xs:element name="b3" type="xs:string" />
                                        <xs:element name="b4" type="xs:string" />
                                        <xs:element name="b5" type="xs:string" />
                                        <xs:element name="b6" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="cuboid_parameters">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="name">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="value" type="xs:decimal" />
                                        <xs:element minOccurs="0" name="x" type="xs:unsignedByte" />
                                        <xs:element minOccurs="0" name="y" type="xs:byte" />
                                        <xs:element minOccurs="0" name="z" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="sphere_parameters">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="name">
                                <xs:complexType mixed="true">
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="value" type="xs:decimal" />
                                        <xs:element minOccurs="0" name="x" type="xs:unsignedByte" />
                                        <xs:element minOccurs="0" name="y" type="xs:byte" />
                                        <xs:element minOccurs="0" name="z" type="xs:unsignedByte" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>