XML_input/input.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="input">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parameters" type="xs:string" />
                <xs:element maxOccurs="unbounded" name="param">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="value" type="xs:decimal" />
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>